[Unit]
Description=OPCN3 Prometheus scraper

[Service]
Type=simple
WorkingDirectory=/home/opcn3
ExecStart=/home/opcn3/venv/bin/python3 main.py
User=opcn3
Group=opcn3
Restart=always
Environment=PYTHONUNBUFFERED=1
RuntimeMaxSec=1h

[Install]
WantedBy=multi-user.target